.page-header{
    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    font-size: 3.5rem;
    /* line-height: 88px; */
    margin-left: 3rem;
    color: #27267A;
    margin-bottom: 0rem;

}

.page-description{
    font-family: 'Jua';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #597B86;
    margin-left: 2rem;

}